{% extends 'accounts/base.html' %} {% load static %} {% block content %}
<link href="{% static 'accounts/css/sign-in.css' %}" rel="stylesheet" />
<main class="form-signin w-100 m-auto">
  <form method="POST" action="">
    {% csrf_token %}
    <img
      class="mb-4 mx-auto d-block"
      src="{% static 'logoonly_border.png' %}"
      alt=""
      width="100"
    />
    <h1 class="h2 mb-3 fw-normal d-flex justify-content-center">
      Register Account
    </h1>
    {{ form.as_p }}
    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
    {% for message in messages %}
    <div id="messages" class="mt-4 text-center">{{ message }}</div>
    {% endfor %}
    <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2017–2024</p>
  </form>
  <div class="mt-4">
    <div class="d-flex justify-content-center links">
      Already have an account?<a href="{% url 'login' %}" class="ms-2">
        Log In</a
      >
    </div>
  </div>
</main>
{% endblock %}
