{% extends "diyproduct/base.html" %} {% load static %} {% block content %}
<h1 class="h3 mb-3">New Order</h1>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="container">
        <div class="card-header">
          <h5 class="card-title mb-0">Handheld Scanner Data</h5>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="alert alert-success" role="alert">
      <span class="me-4"><b>SKU Detected:</b> {{ total_item }}</span>
      <b><span>Total Error :</b> {{ total_error }}</span><br><br>
    </div>
    <table class="table table-danger mt-2">
      <thead>
        <tr>
          <th>Unrecognized Data</th>
        </tr>
      </thead>
      <tbody>
        {% for line in error_items %}
        <tr>
          <td>{{ line.line }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>SKU</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for item in po_items %}
        <tr>
          <td>{{ item.sku }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <div class="col">
    
  </div>
</div>
{% endblock %}
