{% extends "diyproduct/base.html" %} {% load static %} {% block content %}
<div class="row">
  <div class="col-6">
    <h1 class="h3 mb-3">Order ID : {{ ordernum }}</h1>
  </div>
  <div class="col-6 text-end">
    <form action="{% url 'upload_handheld' %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Upload" />
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Title</h5>

        <button type="button" class="btn btn-primary">Button je</button>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
{% endblock %}
